{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/changePW" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="Old password" type="password" required/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password" placeholder="New password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])([A-z0-9]+){8,}"
            title="Your password should contain the following: at least 1 uppercase letter, 1 lowercase letter, 1 digit, and no special characters!" type="password" required />
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}